@model Fakultet_IS.Models.Prijavas

@{
    ViewBag.Title = "Obrisi prijavu";
}

<h2>Obrisi prijavu</h2>

<h3>Jeste li sigurni da zelite obrisati prijavu?</h3>
<div>
    <h4>Prijava</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ocena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ocena)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ispits.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ispits.Naziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Students.Ime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Students.Ime)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Obrisi" class="btn btn-default" /> |
            @Html.ActionLink("Nazad", "Index")
        </div>
    }
</div>
