@model Fakultet_IS.Models.Prijavas

@{
    ViewBag.Title = "Detalji prijave";
}

<h2>Detalji prijave</h2>

<div>
    <h4>Prijava</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ocena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ocena)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ispits.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ispits.Naziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Students.Ime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Students.Ime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Azuriraj", "Edit", new { bi = Model.Students.BI, ispit = Model.Ispits.IspitID }) |
    @Html.ActionLink("Nazad", "Index")
</p>
