@model IEnumerable<Fakultet_IS.Models.Prijavas>

@{
    ViewBag.Title = "Evidencija prijava";
}

<h2>Evidencija prijava</h2>

<p>
    @Html.ActionLink("Kreiraj novu prijavu", "Create")
</p>

@using (Html.BeginForm())
{
    <p>
        Pretrazi po broju indeksa, imenu/prezimenu, nazivu predmeta: @Html.TextBox("Search")
        <input type="submit" value="Pronadji" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.Ispits.Naziv)*@
            @Html.ActionLink("Naziv ispita", "Index", new { sortOrder = ViewBag.SubjectSortParm })
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Students.BI)*@
            @Html.ActionLink("BI", "Index", new { sortOrder = ViewBag.BISortParm })
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Students.Ime)*@
            @Html.ActionLink("Ime i prezime", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Ocena)*@
            Ocena
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ispits.Naziv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Students.BI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Students.Ime)
            @Html.DisplayFor(modelItem => item.Students.Prezime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ocena)
        </td>
        <td>
            @Html.ActionLink("Azuriraj", "Edit", new { bi = item.Students.BI, ispit = item.Ispits.IspitID }) |
            @Html.ActionLink("Detalji", "Details", new { bi = item.Students.BI, ispit = item.Ispits.IspitID}) |
            @Html.ActionLink("Obrisi", "Delete", new { bi = item.Students.BI, ispit = item.Ispits.IspitID })
        </td>
    </tr>
}

</table>
