@model PagedList.IPagedList<Fakultet_IS.Models.Students>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Evidencija studenata";
}

<h2>Evidencija studenata</h2>

<p>
   @Html.ActionLink("Dodaj novog studenta", "Create")
</p>

@using (Html.BeginForm("Index", "Students", FormMethod.Get))
{
    <p>
        Pretrazi po imenu/prezimenu ili broju indeksa: @Html.TextBox("Search", ViewBag.CurrentFilter as string)
        <input type="submit" value="Pronadji" />
    </p>
}


<table class="table">
    <tr>
        <th style="width: 60px;">
            @Html.ActionLink("BI", "Index", new { sortOrder = ViewBag.BISortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Ime)*@
            Ime
        </th>
        <th>
            @Html.ActionLink("Prezime", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Adresa)*@
            Adresa
        </th>
        <th style="width: 180px;">
            @Html.ActionLink("Grad", "Index", new { sortOrder = ViewBag.CitySortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            Akcije
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prezime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adresa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Grad)
        </td>
        <td>
            @Html.ActionLink("Azuriraj", "Edit", new { id=item.BI }) |
            @Html.ActionLink("Detalji", "Details", new { id=item.BI }) |
            @Html.ActionLink("Obrisi", "Delete", new { id=item.BI })
        </td>
    </tr>
}

</table>

@Html.Raw(TempData["msg"])

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))